@media only screen and (min-width: 993px) {
    .brand-logo {
        left: 37%;
    }
}

html,
footer {
    background: #FEAC5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav {
    background: #614385;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #516395, #614385);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #516395, #614385);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#user_data{
     background-color: #b1dcfbba;
}
#upload-button{
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
}
main {
    flex: 1 0 auto;
    background-color: #f5f5f5;
}
/*#file_label{
    background-color: #46a69a;
    color: white;
    border-radius:3%;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    }

#file_label+input{
display:block;
}*/
.row {
    padding-top: 10px;
    margin-top: 10px;
}


/*.verify_false {
    color: red;
}
.verify_true {
    color: green;
}*/

.fa-qrcode {
    float: right;
}

label[for=in],
label[for=out] {
    color: wheat !important;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: inherit;
}
